@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Galleri>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;




<div>
    @foreach(var img  in Model?.Content?.Images)
    {
        <div>
            <img src="@img.Url()">
        </div>
    }
</div>