@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Quote>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<h2>@Model.Content.PersonName</h2>


<h3>@Model.Content.PersonQuote</h3>